footer{
  #links{
    background-color: #ececec;
    padding: 20px;

    .global{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      h4{
        font-size: 17px;
        margin-bottom: 15px;
      }

      ul li{
        list-style: none;
        margin: 16px 0;
        a{
          color: #333;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }

      i{
        margin-right: 10px;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }

  #copyright{
    padding: 20px;
    background-color: #1e1e1e;
    color: white;


    .global{
      display: flex;
      justify-content:space-between;
      align-items: center;

    }

    #img_copyright{
      width: 30%;

      img{
        max-width: 25%;
        margin-right: 10px;
      }
    }

    #list_copyright{
      a {
        color: #999;
        text-decoration: none;
        margin-right: 15px;
        &:hover{
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}
