section#tools{
  text-align: center;
  h2{
    font-size: 36px;
  }
  .album{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 30px 0;
  }
  .cover{
    max-width: calc(100% / 5);
    padding: 15px;
    position: relative;
    img{
      max-width: 100%;
    }
    div{
      color: white;
      position: absolute;
      bottom: 25px;
      font-size: 25px;
      width: 100%;
      text-align: center;

    }
    &:hover img{
      transform: scale(1.1);
    }
  }

  div#brush_packs{
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg');
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .additional{
      background-color: white;
      width: 400px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      h4{
        font-size: 30px;
        margin-bottom: 20px;
      }

      a{
        text-decoration: none;
        color: lightblue;
        cursor: pointer;
      }
    }
  }
}
