@import 'partials/_common.scss';
@import 'partials/variable.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global{
  width: 80%;
  margin: auto;
}

body{
  overflow-x: hidden;
}

// body{
//   background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg');
// }

@import 'partials/_header.scss';
@import 'partials/_content.scss';
@import 'partials/_content_flexible.scss';
@import 'partials/_tools.scss';
@import 'partials/_footer.scss';
@import 'partials/_mediaQuery.scss';
@import 'partials/_mediaQueryHeader.scss';
